<section class="px-5 py-4">
  <h1 class="fw-bold fs-1 mt-3 text-center text-uppercase">Ninguém nasce escritor</h1>
  <ul class="my-5 list-unstyled d-flex justify-content-around" id="scoreList">
    <li class="lowScore">520</li>
    <li class="mediumScore">680</li>
    <li class="highScore">880</li>
  </ul>
  <div class="d-flex flex-column gap-5">
    <p>
      Meu nome é Gabriel, e essas foram minhas notas da redação do Enem nos anos
      de 2014, 2015 e 2016, respectivamente.
    </p>
    <p>
      Se você acha que escrever redação é um dom que recebemos ao nascer, chegou
      a hora de mudar essa percepção.
    </p>
    <p>
      Estudando pelo método certo, conquistei minha aprovação nas seguintes
      áreas:
    </p>
  </div>
  <ul class="list-unstyled d-flex flex-wrap justify-content-between gap-5 my-5">
    <li *ngFor="let approval of approvalList">
      <app-approval-card
        [approvalTitle]="approval.title"
        [approvalDescription]="approval.description"
        [approvalImgUrl]="approval.imgUrl"
      ></app-approval-card>
    </li>
  </ul>
  <a href="#" class="mt-3 mb-5 text-uppercase ctaBtnModelA">
    Também quero conquistar minha aprovação</a
  >
</section>
