section{
  color: var(--colorPrimary);
  background-color: var(--colorSecondary);
}

#scoreList{
  height: 20vh;
  padding: 10vh 0;
}

.lowScore{
  color: var(--colorTertiary);

  &>div{
    background-color: var(--colorTertiary);

    height: 12vh;

    margin-top: 1vh;
  }
}

.mediumScore{
  font-size: 250%;
  color: var(--colorQuartiary);

  &>div{
    background-color: var(--colorQuartiary);

    height: 24vh;

    margin-top: 4vh;
  }
}

.highScore{
  font-size: 500%;

  &>div{
    background-color: var(--colorPrimary);

    height: 36vh;

    margin-top: 8vh;
  }
}
