.planContainer {
  position: relative;

  width: 40vw;

  padding-bottom: 3vh;
  margin-bottom: 10vh;

  color: var(--colorSecondary);
  background-color: var(--colorPrimary);
}

.tagOnSale {
  position: absolute;

  font-size: 50%;
  padding: 1vw;
  padding-bottom: 3vh;
  right: 0;
  margin-top: -4vh;
  margin-right: -2vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: var(--colorTertiary);

  border-radius: 50%;
  aspect-ratio: 1/1;

  transform: rotate(10deg);

  & p {
    margin: 0;
  }
}

.planDiscount {
  font-size: 220%;
  line-height: 50%;
}

.planTitle {
  font-size: 120%;
  line-height: 120%;

  font-weight: bold;
}

.planBody {
  font-size: 70%;
  line-height: 150%;

  & li > p {
    width: 90%;
    margin: 0;
  }
}

.planIcon {
  width: 10%;
  height: 20%;
}

.mcDonaldsContainer {
  color: #faba24;

  text-align: center;

  & p {
    font-weight: bold;

    text-shadow: 1px 1px 1px #ce201e, -1px -1px 1px #ce201e,
      -1px 1px 0px #ce201e, 1px -1px 0px #ce201e;
  }
}

.planPrice {
  font-size: 500%;
  line-height: 100%;
}

.planDetail1 {
  font-size: 270%;
}

.planDetail2 {
  font-size: 70%;
}
