<section class="px-5 py-4" id="plans">
  <h2 class="fw-bold fs-1 mt-5 text-center text-uppercase">Planos</h2>
  <div class="d-flex flex-column gap-5 my-5">
    <p>
      Independentemente do seu curso dos sonhos,
      <span class="text-decoration-underline">
        a redação deve ser sua prioridade
      </span>
      . Sabe por quê?
    </p>
    <p>
      Simples,
      <span class="text-decoration-underline">
        porque você pode tirar 1000!
      </span>
    </p>
    <p>
      Você conhece alguém que acertou todas as questões de Naturezas, Matemática
      ou Humanas?
    </p>
    <p>
      Mas com certeza já viu notícias sobre estudantes com redação nota 1000.
      Todo ano tem alguém que se destaca pela nota máxima.
    </p>
    <p>
      Seus concorrentes terão desempenho parecido com o seu em outras áreas.
      <span class="text-decoration-underline">
        Seu destaque será a redação!
      </span>
    </p>
  </div>
  <ul class="d-flex justify-content-around">
    <li class="list-unstyled" *ngFor="let plan of planList">
      <app-plan-card [plan]="plan"></app-plan-card>
    </li>
  </ul>
</section>
