<section class="px-5 py-4">
  <h2 class="fw-bold fs-1 mt-5 text-center text-uppercase">Planos</h2>
  <div class="d-flex flex-column gap-5 my-5">
    <p>
      Independentemente do seu curso dos sonhos,
      <span class="text-decoration-underline">
        a redação deve ser sua prioridade
      </span>
      . Sabe por quê?
    </p>
    <p>
      Simples,
      <span class="text-decoration-underline">
        porque você pode tirar 1000!
      </span>
    </p>
    <p>
      Você conhece alguém que acertou todas as questões de Naturezas, Matemática
      ou Humanas?
    </p>
    <p>
      Mas com certeza já viu notícias sobre estudantes com redação nota 1000.
      Todo ano tem alguém que se destaca pela nota máxima.
    </p>
    <p>
      Seus concorrentes terão desempenho parecido com o seu em outras áreas.
      <span class="text-decoration-underline">
        Seu destaque será a redação!
      </span>
    </p>
  </div>
  <div class="planContainer rounded-3">
    <div class="tagOnSale">
      <p class="text-uppercase">Desconto</p>
      <p class="planDiscount">R$40</p>
    </div>
    <div class="p-3">
      <h3 class="planTitle text-uppercase">Mensal</h3>
      <div class="planBody mt-4">
        <p class="m-0">Público alvo:</p>
        <ul class="list-unstyled">
          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="person"
            ></mat-icon>
            Estudante de escola pública
          </li>
          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="person"
            ></mat-icon>
            Bolsista na rede particular
          </li>
        </ul>

        <p class="m-0 mt-4">Benefícios:</p>
        <ul
          class="list-unstyled d-flex flex-column justify-content-between gap-3"
        >
          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="check"
            ></mat-icon>
            <p>Proposta de redação semanal</p>
          </li>
          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="check"
            ></mat-icon>
            <p>
              Correção de redação semanal, detalhada em texto e áudio, com nota
              final e notas por competência
            </p>
          </li>

          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="check"
            ></mat-icon>
            <p>
              Brainstorm e dicas de repertório sociocultural (filmes, livros,
              músicas, citações, dados estatísticos etc)
            </p>
          </li>
          <li class="d-flex">
            <mat-icon
              class="planIcon pt-2"
              aria-hidden="false"
              aria-label="Plan icon"
              fontIcon="check"
            ></mat-icon>
            <p>Métricas de evolução para você acompanhar seu desenvolvimento</p>
          </li>
        </ul>
        <div class="mcDonaldsContainer my-5">
          <p class="text-uppercase">Sua aprovação custa menos</p>
          <img
            src="../../../assets/McDonalds.png"
            alt="McDonalds"
            class="w-75"
          />
          <p class="text-uppercase">que 3 McLanches Felizes</p>
        </div>
        <div class="text-center">
          <p class="m-0">
            de <span class="text-decoration-line-through">R$120</span> por
            apenas
          </p>
          <p class="planPrice">R$80</p>
          <p class="planDetail1">MENSAIS</p>
          <p class="planDetail2">(PAGAMENTO ANTECIPADO NO PIX)</p>
        </div>
      </div>
    </div>

    <a href="#" class="text-uppercase ctaBtnModelB m-auto">
      Esse é o meu plano!</a
    >
  </div>
</section>
