<section class="px-5 py-4">
  <h2 class="fw-bold fs-1 mt-5 text-center text-uppercase">
    Domine as 5 competências do Enem
  </h2>
  <div class="my-5 d-flex flex-column gap-5">
    <p>
      Você não precisa fazer o corretor gostar da sua redação para ter uma boa
      nota.
    </p>
    <p>
      Os critérios de correção são objetivos, e não subjetivos. Isso significa
      que sua nota depende do cumprimento de regras, e não do gosto pessoal do
      corretor.
    </p>
    <p>
      São cinco competências que você precisa demonstrar na redação do Enem, e
      cada uma delas varia de 0 a 200 pontos:
    </p>
  </div>
  <ul class="list-unstyled d-flex flex-column justify-content-between gap-5 m-0">
    <li *ngFor="let skill of skillList; let id = index">
      <app-essay-writing-skill
        [skill]="skill"
        [id]="id"
      ></app-essay-writing-skill>
    </li>
  </ul>
  <a href="#" class="text-uppercase ctaBtnModelB">
    Quero dominar essas 5 competências</a
  >
</section>
