section {
  color: var(--colorSecondary);
}

.logo {
  width: 8vw;
}

.nav-link {
  font-size: 70%;
}

#focusWeak,
#focusStrong {
  color: #fff;
}

#focusWeak {
  background-color: var(--colorTertiary);
  padding: 0.2rem;
  margin-right: 0.6rem;
}

#focusStrong {
  font-size: 165%;
  background-color: var(--colorSecondary);
  padding: 0.2rem;
}

#textBig {
  font-size: 150%;
}
