<section class="px-5 py-4">
  <img src="assets/redacaoNaPratica.png" alt="Logotipo" class="logo" />

  <div class="d-flex justify-content-around mt-1">
    <div class="d-flex flex-column justify-content-around">
      <p class="text-uppercase">
        A redação é seu <span id="focusWeak">ponto fraco</span>?
      </p>
      <div id="textBig">
        <p class="text-uppercase">Transforme-a no seu</p>
        <p class="text-uppercase mt-5">
          <span id="focusStrong">ponto forte!</span>
        </p>
      </div>
      <a href="#" class="text-uppercase ctaBtnModelB">Quero conquistar minha aprovação</a>
    </div>
    <img src="assets/boyWritting.png" alt="Menino escrevendo" class="col-4" />
  </div>
</section>
