<section class="px-5 py-4">
  <div class="d-flex justify-content-between">
    <img src="assets/redacaoNaPratica.png" alt="Logotipo" class="logo" />
    <nav class="navbar navbar-expand-xl">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav gap-3">
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#about">Sobre o autor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#enem">Enem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#courseOverview"
                >Como funciona</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#competitiveEdge"
                >Diferenciais</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#plans">Planos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="d-flex justify-content-around mt-1 mb-5">
    <div class="d-flex flex-column justify-content-around">
      <p class="text-uppercase">
        A redação é seu <span id="focusWeak">ponto fraco</span>?
      </p>
      <div id="textBig">
        <p class="text-uppercase">Transforme-a no seu</p>
        <p class="text-uppercase mt-5">
          <span id="focusStrong">ponto forte!</span>
        </p>
      </div>
      <a href="#" class="text-uppercase mt-3 mb-0 ctaBtnModelB"
        >Quero conquistar minha aprovação</a
      >
    </div>
    <img src="assets/boyWritting.png" alt="Menino escrevendo" class="col-4" />
  </div>
</section>
